@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@import 'tailwindcss';

@theme {
  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-xs--line-height: 16px;

  --font-size-sm: 14px;
  --font-size-sm--line-height: 20px;

  --font-size-base: 16px;
  --font-size-base--line-height: 19.5px;

  --font-size-lg: 18px;
  --font-size-lg--line-height: 21.94px;

  --font-size-xl: 20px;
  --font-size-xl--line-height: 24.38px;

  --font-size-2xl: 24px;
  --font-size-2xl--line-height: 29.26px;

  --font-size-3xl: 28px;
  --font-size-3xl--line-height: 50px;

  --font-size-4xl: 48px;
  --font-size-4xl--line-height: 58px;

  --font-size-8xl: 96px;
  --font-size-8xl--line-height: 106px;

  /* Font Family */
  --font-palanquin: 'Palanquin', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* Colors */
  --color-primary: #eceeff;
  --color-coral-red: #ff6452;
  --color-slate-gray: #6d6d6d;
  --color-pale-blue: #f5f6ff;
  --color-white-400: rgba(255, 255, 255, 0.8);

  /* Box Shadow */
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  /* Background Images */
  --background-image-hero: url('assets/images/collection-background.svg');
  --background-image-card: url('assets/images/thumbnail-background.svg');

  /* Custom Breakpoint */
  --breakpoint-wide: 1440px;
}

/* @utility btn {
  @apply bg-amber-600 m-20;  // It will also works in version-4
} */

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-3 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .submit-button {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-white pl-5 md:px-8 md:py-2.5 max-sm:p-3 outline-none sm:border-none border bg-coral-red max-sm:rounded-full cursor-pointer md:rounded-4xl;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-12 px-8 sm:py-16 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-16 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-16 pt-12;
  }

  .padding-b {
    @apply sm:pb-16 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
